*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;;
}
html {
    scroll-behavior: smooth;
  }


nav{
    position: fixed;
    height: 80px;
    position: fixed;
    width: 100%;
}


.first{
    background-image: url(../image/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* border-radius: 0px 0px 20px 20px; */
}

.main{
    font-family: 'Courier New', Courier, monospace;
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
    
}
ul li{
    display: inline-block;
    
}
ul li a{
    font-family: Cambria;
    font-size: 20px;
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: #000;
}
.dp{
    float: left;
    width: 25%;
    height: 48%;
    border: 2px solid rgba(121, 245, 5, 0.521);
    box-shadow: 5px 10px 18px rgb(231, 227, 227);
    border-spacing: 10px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 40px;
}
#intro {
    font-family:  Brush Script MT;
    font-size:4rem;
    font-weight:800!important;
    background-color: transparent!important;
    margin-left: 55%;
    position: absolute;
    margin-top: 14%;
    
}

.second{
    background-color: #494d5f;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.edu{
    background-color: #494d5f;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.proj{
    background-color: #494d5f;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

li{
    font-family: Optima;
    font-weight: 500;
}
li:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.quali-head {
    font-family: Georgia;
    text-align: center;
    font-weight: 400;
    font-size:4rem;
    color:#217ff1;
    margin-top: 50px;
    margin-left: 40%;
    position: absolute;
    
}


.points{
    font-size: 25px;
    color: white;
    margin-top: 150px;
    margin-left: 40px;
    position: absolute;
}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    /* margin: 13% 40px; */
    /* margin: 150px 50px 75px 150px; */
    border-radius: 50%;
    margin-top: 160px;
    margin-left: 70px;
  }
  
.fa:hover {
      opacity: 0.7;
      -webkit-transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg);
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.bottom{
    background-color: #0049B7;
    height: 40px;
    background-size: cover;
    background-position: center;
}

#bott{
    text-align: center;
    font-weight: 600;
    color: white;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav{
        display: none;
    }
    .first{
        height: 70vh;
    }
    .second{
      width: 100%;
    }
    #intro{
        margin-left: 30%;
        font-size: 3.5rem;
    }
    .quali-head{
        width: 50%;
        font-size: 1.8rem;
        /* margin: 50px 20%; */
        margin-top: 50px;
        margin-left: 30%;
    }

    .points{
        font-size: 20px;
    }
    #sec4{
        font-size: 10px;
    }
    .dp{
        display: none;
    }
    .proj{
        height: 70vh;
    }
    fa{
        margin-top: 50%;
    }
    .fa-twitter{
        display: none;
    }
  }