*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;;
}
html{
    scroll-behavior: smooth;
}

/* ------Navigation bar------ */

nav{
    position: fixed;
    height: 80px;
    width: 100%;
}

.main{
    font-family: 'Courier New', Courier, monospace;
}

ul{
    float: right;
    list-style-type: none;
    margin: 25px;
    
}
ul li{
    display: inline-block;
    
}
ul li a{
    font-family: Cambria;
    font-size: 20px;
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: #000;
}
/* ---first section---- */
.first-sec{
    background-image: url(../image/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.photo{
    float: left;
    width: 25%;
    height: 48%;
    border: 2px solid rgba(121, 245, 5, 0.521);
    box-shadow: 5px 10px 18px rgb(231, 227, 227);
    border-spacing: 10px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 40px;
}
#intro {
    font-family:  Brush Script MT;
    font-size:4rem;
    font-weight:800!important;
    background-color: transparent!important;
    margin-left: 55%;
    position: absolute;
    margin-top: 14%;
    
}

/* ----second section-----*/

.second-sec{
    background-color: #494d5f;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.edu{
    height: 60%;
    height: 100vh; 
    background-image: url(../image/book.jpg);
    background-size: cover;
    background-position: center;
}

.cont{
    background-color: #494d5f;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.proj{
    background-color: #494d5f;
    height: 60vh;
    background-size: cover;
    background-position: center;
}


/* ---section head--- */
.sec-head {
    font-family: Georgia;
    font-weight: 400;
    font-size:4rem;
    color:#217ff1;
    text-align: center;
    padding-top: 50px;
    margin-left: 40%;
    position: absolute;
    
}

.cont-head {
    font-family: Georgia;
    font-weight: 400;
    font-size:4rem;
    color:white;
    text-align: center;
    padding-top: 40px;
    
}
/* --section points--- */
.points{
    font-size: 25px;
    color: white;
    margin-top: 150px;
    margin-left: 40px;
    position: absolute;
}

li{
    font-family: Optima;
    font-weight: 500;
}
li:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

/* ---icons--- */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 50px;
    /* margin-left: 180px; */
  }
  
.fa:hover {
      opacity: 0.7;
      -webkit-transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
      transform: rotateZ(-30deg);
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram {
  background: #125688;
  color: white;
  margin-left: 40%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
/* ---copyright--- */
.bottom{
    background-color: #0049B7;
    height: 40px;
    background-size: cover;
    background-position: center;
}

#bott{
    text-align: center;
    font-weight: 600;
    color: white;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav{
        display: none;
    }
    .first-sec{
        height: 70vh;
    }
    .second-sec{
      width: 100%;
    }
    #intro{
        margin-left: 30%;
        text-align: center;
        font-size: 3.5rem;
    }
    .sec-head{
        width: 50%;
        font-size: 1.8rem;
        margin-top: 50px;
        margin-left: 30%;
    }
    /* .cont-head{
        font-size: 3rem;
    } */
    .points{
        font-size: 20px;
    }
    #sec4{
        font-size: 10px;
    }
    .photo{
        display: none;
    }
    .proj{
        height: 70vh;
    }
    .fa{
        margin-top: 140px;
        margin-left: 30px;
    }
    .fa-twitter{
        display: none;
    }
  }